*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
}
:root{
    --Poppins-font: 'Poppins';
    --white-color:  #ffffff;
    --black-color: #000;
    --primary-color: #212D92;
    --text-color: #292929;
}
/* ============
scrollbar 
============ */
::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    background-color: var(--white-color);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--primary-color); 
}
/* ============
scrollbar 
============ */


/* ===========
buttons
=========== */
.buttons{
    border: 2px solid var(--primary-color);
    padding: 10px 20px 10px 20px;
    background-color: var(--primary-color);
    transition: 1s;
    display: flex;
    align-items: center;
    box-shadow: 0px 8px 10px 0px #212D9266;

}
.buttons a{
    font-family: var(--Poppins-font);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.04em;
    color: var(--white-color);
    text-decoration: none;
}
.buttons i{
    margin-right: 8px;
}
.buttons:hover{
    border: 2px solid var(--primary-color);
    background-color: var(--white-color);
}
.buttons:hover a{
    color: var(--primary-color);
}
@media (max-width:992px){
    .buttons{
        margin: 0 auto;
    }
}
/* ===========
buttons
=========== */


/* section-1 start  */
.navbar {
	position: fixed;
	/* height: 80px; */
	background-color: var(--primary-color);
	top: 0;
    right: 0;
    left: 0;
	/* width: 100%; */
	z-index: 999;
	transition: all .3s ease;
	/* box-shadow: 0 1px 25px rgba(0,0,0, .1); */
}
.navbar.hide {
	top: -80px;
}
.nav-link{
    font-family: var(--Poppins-font) !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: var(--white-color);
}
.navbar-toggler{
    color: var(--white-color);
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: none !important;
    box-shadow: none !important;
}
.nav-link:focus, .nav-link:hover {
    color: var(--white-color);
    /* border-bottom: 1px solid var(--white-color); */
}
.navbar_btn{
    background-color: transparent;
    border: 1px solid var(--white-color);
    transition: 1s;
}
.navbar_btn:hover{
    background-color: var(--white-color);
    border: 1px solid var(--white-color);
}
.navbar_btn:hover a{
    color: var(--primary-color);
}
@media (max-width:992px){
    .navbar_btn{
        padding: 0px 8px;
    }
}
/* section-1 end  */

/* section-2 start  */
.headding_h{
    font-family: var(--Poppins-font) !important;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    letter-spacing: -0.04em;
    color: var(--black-color);
    margin-bottom: 20px;
}
.prime_hero h1 span{
    color: var(--primary-color);
}
.headding_text{
    font-family: var(--Poppins-font) !important;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: var(--text-color);
    margin-bottom: 20px;
}
.prime_hero img{
    border-radius: 0px 0px 0px 40%;
}
@media (max-width:768px){
    .headding_h{
        font-size: 30px;
        line-height: 35px;
    }
    .headding_text{
        font-size: 15px;
        line-height: 20px;
    }
    
}
@media (max-width:992px){
    .prime_hero img{
        border-radius: 0px 0px 0px 0px;
        margin-top: 20px;
    }
    .headding_h{
        margin-top: 20px;
    }
    .prime_hero{
        margin-top: 100px;
    }
}
/* section-2 end  */

/* section-3 start  */
.prime_weare{
    padding: 50px 0px 70px 0px;
    background-image: url(../image/whoweare-bg1.png), url(../image/whoweare-bg2.png);
    background-repeat: no-repeat;
    background-position: top left, right bottom;
    background-size: 70px;
}
.prime_weare img{
    border-radius: 10px 130px 130px 0px;
}
.prime_weare .headding_h{
    color: var(--primary-color);
}
.prime_weare .headding_text span{
    color: var(--black-color);
    font-weight: 500;
}
@media (max-width:992px){
    .prime_weare img{
        border-radius: 0px 0px 0px 0px;
        margin-top: 20px;
    }
    .prime_weare{
        padding: 50px 0px 50px 0px;
    }
}
/* section-3 end  */

/* section-4 start  */
.prime_service{
    padding: 70px 0px 70px 0px;
    background-color: var(--primary-color);
    border-radius: 100px 100px 0px 0px;
}
.prime_service .headding_h{
    color: var(--white-color);
}
.prime_service .headding_text{
    color: #83A2F3;
    margin-bottom: 60px;
}
.service_number{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 66px;
    line-height: 60px;
    letter-spacing: -0.04em;
    color: #3441AE;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.service_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}
@media (max-width:576px){
    .service_number{
        font-size: 25px;
        line-height: 30px;
    }
    .service_text{
        font-size: 14px;
        line-height: 20px;
    }
}
@media (max-width:992px){
    .prime_service{
        padding: 50px 0px 50px 0px;
        border-radius: 50px 50px 0px 0px;
    }

}
/* section-4 end  */

/* section-5 start  */
.prime_Project{
    padding: 70px 0px 70px 0px;
    background-image: url(../image/project-bg1.png), url(../image/project-bg2.png);
    background-repeat: no-repeat;
    background-position: left top, right top;
    background-size: 10%, 10%;
}
.prime_Project .headding_h{
    color: var(--primary-color);
}
.prime_Project .nav-pills{
    background-color: var(--primary-color);
    padding: 8px 0px 8px 0px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--primary-color) !important;
    background-color: var(--white-color) !important;
}
.prime_Project .nav-pills .nav-link {
    background: 0 0;
    border: 0;
    border-radius: 0px !important;
    font-weight: 500 !important;
}
.prime_Project .nav{
    flex-wrap: nowrap !important;
}
@media (max-width:768px){
    .prime_Project .nav-pills .nav-link {
        font-size: 13px;
    }
}
@media (max-width:992px){
    .prime_Project{
        padding: 50px 0px 50px 0px;
    }
}
/* section-5 end  */

/* section-6 start  */
.prime_choosus{
    padding: 70px 0px 0px 0px;
    background-color: #E9F1FF;
}
.prime_choosus .headding_h{
    color: var(--primary-color);
}
.choosus_cards{
    background-color: var(--primary-color);
}
.choosus_cards div{
    background-color: #E9F1FF;
    padding: 18px;
    width: 31%;
}
.choos_hedding{
    font-family: var(--Poppins-font);
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: var(--primary-color);
    margin: 14px 0px 14px 0px;
}
.choos_text{
    font-family: var(--Poppins-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.04em;
    color: var(--text-color);
}
.form{
    background-color: #c8d4ea95;
    padding: 30px 30px 30px 30px !important;
    backdrop-filter: blur(10px);
    border: 1px solid #C8D3E8;
    position: relative;
    top: 130px;
}
.form-control:focus {
    color: var(--primary-color) !important;
    background-color: #E9F1FF !important;
    border: 2px solid var(--primary-color) !important;
    outline: none !important;
    box-shadow: none !important;
}
.form-control{
    border-radius: 0px !important;
    background-color: #E9F1FF;
    border-color: #E9F1FF;
}
.form_first_headding{
    font-family: var(--Poppins-font);
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: var(--text-color);
}
.form_headding{
    font-family: var(--Poppins-font);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: var(--primary-color);
    margin-bottom: 29px;
}
@media (max-width:768px){
    .choosus_cards div{
        width: 100%;
    } 
}
@media (max-width:992px){
    .prime_choosus{
        padding: 50px 0px 50px 0px;
    } 
    .form{
        position: static;
        margin-top: 50px !important;
    }  
}
/* section-6 end  */

/* section-7 start  */
.prime_footer{
    background-color: var(--primary-color);
    padding: 200px 0px 70px 0px;
}
.prime_footer img{
    margin-bottom: 50px;
}
.prime_footer ul{
    list-style-type: none;
    padding: 0px;
}
.prime_footer ul li{
    margin-bottom: 20px;
}
.prime_footer ul li i{
    margin-right: 5px;
}
.prime_footer ul li a{
    font-family: var(--Poppins-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--white-color);
    text-decoration: none;
}
.footer_headding{
    font-family: var(--Poppins-font);
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: var(--white-color);
    margin-bottom: 22px;
}
@media (max-width:992px){
    .prime_footer{
        background-color: var(--primary-color);
        padding: 50px 0px 50px 0px;
    }
}
/* section-7 end  */